.sidebar{
    border-radius: 10px;
    width: 280px;

    margin: 0px 10px 20px 15px;
    
   // margin-right: 280px !important;
    
    max-width: 95% !important;
    max-height: 90% !important;
    
    transition: all 0.1s linear;
    padding-top: 20px;
    padding-bottom: 25px;

    &.nav-collapsed {
        width: 80px;
        //margin-right: 80px;
        .nav-link {
            .text { display: none; }
        }
    }

    @include media-breakpoint-down(sm) { 
        margin-left: 3.5px;
        margin-right: 2px;
        margin-top:20px;
    }


    .nav-link {

        padding: 10px 25px 10px 25px !important;
        
        display: flex;
        flex-direction: row;
        align-items: center;

        color: $gray-600;

        transition: border 0.2s ease;

        border-right: 2px solid transparent;

        &:hover {
            background-color: rgba($secondary,0.25);
        }

        &.router-link-active {
            border-right-color: darken($primary,10%);
            color: darken($primary,10%);
            svg { 
                fill: darken($primary,10%); 
                path {
                    fill:  darken($primary,10%); 
                }
            }
        }

        .icon {
            
            display: flex;
            align-items: center;
            fill-opacity: 0.9;
            stroke-opacity: 0.9;

            svg {

                width: 24px;
                height: 24px;
                fill: $gray-600;

                path:nth-child(1) {
                    fill-opacity: 0.5;
                    stroke-opacity: 0.5;
                }

            }

        }
    }

    .nav-toggle{
     
        padding: 10px;
      
        width: 50px;
        display: flex;
        margin: 0 auto;
        border-radius: 10px;
        margin-bottom: 25px;
        margin-top: 20px;

        &:hover{
            background: darken($secondary,2%); 
        }
        
        a {
            display: block !important;
            width: 100%;
            text-align: center !important;
            color: #fff !important;
        }
    }


}