
/**
 * custom styling 
 **/

@import 'https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700';

@import "./variables.custom.scss";

@import './variables.bootstrap.scss';

@import "./argon-design-system/assets/scss/argon-design-system.scss";

@import "./hamburger.scss";

@import "./select2-bootstrap4/src/layout.scss";

@import "./loader.scss";

.bg-primary-light-30p {
  background-color: lighten($primary, 30%);
  color: darken($primary, 20%);
  &:not(.no-hover):hover{ background-color: $primary; color:lighten($primary, 50%); }
}

body, html{
    height: 100% !important;
}

a, a:hover, a:active, a:visited{  text-decoration: none !important;}

.navbar-toggler {
    color: $navbar-light-color;
    border: none;
}
 
.text-white-80{
    color: #ffffff; 
    color: rgba(255,255,255,0.8);
}

.text-white-60{
    color: #ffffff; 
    color: rgba(255,255,255,0.6);
}

.btn-inner--icon {
    img{ width: 24px !important; }
}

#connect_wallet_btn, #address_info_area{
    max-width: 180px !important;
}

#address_info_area{
    display: inline-block !important;
    padding: 8px !important;
    font-size: 14px !important;
    .disconnect{
        font-size: 12px !important; 
        text-align: right !important;
    }
}

.alert-notif {
    width: 320px;
    max-width: 98%;
    position: fixed !important;
    right: 5px;
    top: 5px;
    z-index: 200000;
    padding: 0;

    .content{padding: 15px; padding-top:20px; padding-bottom: 16px; }
    .notif-progress{
        width: 0%;
        height: 4px;
        background: rgba(0,0,0,0.3);
        border-bottom-left-radius: 28px;
        border-bottom-right-radius: 28px;
    }
}

.select2-selection--single{
    width: 100%;
}

.select2-container, .select2-selection {
    width: 100% !important;
}

.select2-selection__rendered{
    width: calc(99%) !important;
    white-space: nowrap  !important; 
    overflow-x: hidden !important; 
    text-overflow: ellipsis !important;
}

.img-flag{
    border-radius: 4px;
    position: relative;
    top:-1px;
}

.error_msg{color: $danger; }

#paymentTypesModal {
    .modal-header{
        padding: 0;
        margin: 0;
        justify-content: center;
        align-items: center;
     }
    .form-group,input, input:focus {
      border: none;
      outline: none;
      padding: 0px 10px 0px 10px;
      flex-grow: 1;
    }

  .fa-search{fill: $gray-500;}

  .form-group{padding: 0;}

  .pt-categories{
    
    overflow-x: scroll;
    display: flex;
    min-height: 110px;
    flex-direction: row;
    flex-wrap: nowrap;

    .cat-item{
        flex-grow: 0;
        flex-shrink: 0;
        margin:5px;
        
        a {
            height: 120px !important;
            width: 120px !important;
            text-overflow: ellipsis;
            font-size: 14px;
            padding: 10px;
            text-align: center;
        }
    }
  }  
}  