$font-family-base:    Poppins, Helvetica, "sans-serif";

$primary:                                       #8950FC;
$secondary:                                     #e4e6ef;
$success:                                       #1bc5bd;
$info:                                          #8950fc;
$warning:                                       #ffa800;
$danger:                                        #f64e60;
$light:                                         #f3f6f9;
$dark:                                          #181c32;

//navbar
$navbar-padding-y:                                  20px;
$navbar-padding-x:                                  20px;

$navbar-light-color:                              #3f4254;
$navbar-light-brand-color:                        #3f4254;
$navbar-light-active-color:                       #8950fc;
